.page-team-list {
  background-image: url('../images/undraw_hang_out_h9ud.svg');
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;

  @include media-breakpoint-up(xs) {
    background-size: 65%;
    background-position: 80% 0px;
  }
  @include media-breakpoint-up(sm) {
    background-size: 50%;
    background-position: 80% 0px;
  }
  @include media-breakpoint-up(md) {
    background-size: 45%;
    background-position: 100% 50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 50%;
    background-position: 100% 50px;
  }
  @include media-breakpoint-up(xl) {
    background-size: 50%;
    background-position: 100% 50px;
  } 
}
