---
title: Contact
layout: default
bodyClass: page-contact
---

<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Contact</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <ul>
        <li><strong>Phone: </strong> 
          {% for phone in site.data.contact.phones %}
          <a href="tel:{{ phone }}">{{ phone }}</a> |
          {% endfor %}
        </li>
        <li><strong>Email: </strong><a href="mailto:{{ site.data.contact.email }}">
            {{ site.data.contact.email }}</a></li>
        {% if site.data.contact.address %}
        <li><strong>Address: </strong>{{ site.data.contact.address }}</li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
      <div class="col-12 col-md-12">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScQOlditgijpE4UOO_ZP-ibEfbWF2QbFxSTuGC9_ieKEQTC7Q/viewform?embedded=true" width="640" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
  </div>
</div>