---
title: BVSLN Services - Quality & Process Consulting Specialists
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>Enterprise Certified Quality & Process Consultants</h1>
    <p>We specialize in consulting on ISO, CMMI, SSAE, and Agile</p>
    <!-- <p>Consultancy services for Quality Management and Information Security</p> -->
  </div>
</div>

<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Phone: </strong> 
        {% for phone in site.data.contact.phones %}
          <a href="tel:{{ phone }}">{{ phone }}</a>
          {% if forloop.last != true %}
          |
          {% endif %}
        {% endfor %}
      </div>
      <div class="call-email"><strong>Email: </strong>
        <a href="mailto:{{ site.data.contact.email }}">
          {{ site.data.contact.email }}
        </a>
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="{{site.baseurl}}/contact" class="button">Contact</a>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Why Us</h2>
    </div>
    {% for feature in site.data.features %}
    <div class="col-12 col-md-6 col-lg-3 mb-2">
      <div class="feature">
        {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container pt-5 pb-5 pt-md-7 pb-md-7"> 
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Our Services</h2>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <!-- {{site.baseurl}}{{ service.url }} -->
            <a href="javascript:void()">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 120 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/services" style="display: none">View All Services</a>
    </div>
  </div>
</div>


