<div class='header {{include.headerClass}}'>
  <div class="container">
    <div class="logo">
        <a href="/">
          <img alt="BVSLN Services" src="/assets/images/logo.png" />
          <div style="float: right;">
            <div style="color: #343a40;">BVSLN Services</div>
            <div style="font-size: 12px;color: #3abb65;">Quality &amp; Process Consulting Specialists</div>
          </div>
        </a>
    </div>
    <div class="logo-mobile">
      <a href="{{site.baseurl}}/">
        <img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/logo-mobile.png" />
        <div style="float: right;">
            <div style="color: #343a40;">BVSLN Services</div>
            <div style="font-size: 12px;color: #3abb65;">Quality &amp; Process Consulting Specialists</div>
        </div>
      </a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>