.page-services-list {
  background-image: url('../images/undraw_business_deal_cpi9.svg');
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;

  @include media-breakpoint-up(xs) {
    background-size: 65%;
    background-position: 80% 35px;
  }
  @include media-breakpoint-up(sm) {
    background-size: 50%;
    background-position: 80% 35px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 50%;
    background-position: 100% 50px;
  }
}
